################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/csharp/SoCraTesFrOrganizer/.vs/SoCraTesFrOrganizer/v16
/csharp/SoCraTesFrOrganizer/obj/Debug
/csharp/SoCraTesFrOrganizer/bin/Debug
